html, body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

#root, .game {
  height: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
}

.game-opt {
}

.game-opt .opt, .game-type .type {
  cursor: pointer;
  color: white;
  background: transparent;
  border: none;
  text-decoration: underline;

  font-weight: bold;
  margin-top: -1px;
  margin-right: 15px;
  line-height: 34px;
  padding: 0;
  text-align: center;
}

.status {
  margin-bottom: 10px;
}

.game-board {
  width: 50%;
  height: 80%;
  margin-top: 25px;
}

.board-row {
  height: 33%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  cursor: pointer;
  color: white;
  background: transparent;
  border: 1vm solid white;
  
  width: 33%;
  height: 100%;
  font-size: 9vw;

  float: left;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  line-height: 34px;
  padding: 0;
  text-align: center;
}

.square-0 {
  border-top: none;
  border-left: none;
}

.square-1 {
  border-top: none;
}

.square-2 {
  border-top: none;
  border-right: none;
}

.square-3 {
  border-left: none;
}

.square-4 {
}

.square-5 {
  border-right: none;
}

.square-6 {
  border-left: none;
  border-bottom: none;
}

.square-7 {
  border-bottom: none;
}

.square-8 {
  border-right: none;
  border-bottom: none;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
